<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A_出入校扫描</title>
    <link rel="shortcut icon" href="https://www.cueb.edu.cn/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/pass.css">
    <script src=" ./js/vue-2.6.12.js"></script>
</head>

<body>
    <header>
        <div class="label">
            <p>仅添加数据</p>
        </div>
        <hr>
    </header>
    <article class="article" id="app">
        <table v-if="show">
            <form>
                <tr>
                    <td><label for="department">部门</label></td>
                    <td>
                        <select name="department" id="department" v-model="department">
                            <option value="管理工程学院">管理工程学院</option>
                            <option value="城市经济与公共管理学院">城市经济与公共管理学院</option>
                            <option value="工商管理学院">工商管理学院</option>
                            <option value="经济学院">经济学院</option>
                            <option value="会计学院">会计学院</option>
                            <option value="劳动经济学院">劳动经济学院</option>
                            <option value="文化与传播学院">文化与传播学院</option>
                            <option value="财政税务学院">财政税务学院</option>
                            <option value="法学院">法学院</option>
                            <option value="金融学院">金融学院</option>
                            <option value="统计学院">统计学院</option>
                            <option value="外国语学院">外国语学院</option>
                            <option value="华侨学院">华侨学院</option>
                            <option value="马克思主义学院">马克思主义学院</option>
                            <option value="国际经济管理学院">国际经济管理学院</option>
                            <option value="国际学院">国际学院</option>
                            <option value="继续教育学院">继续教育学院</option>
                            <option value="商务学院">商务学院</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">姓名</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" v-model="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="studentId">学工号</label>
                    </td>
                    <td>
                        <input type="text" name="studentId" id="studentId" v-model="studentId">
                    </td>
                </tr>
                <!-- 核酸天数 -->
                <tr>
                    <td>
                        <label for="nucleicAcid">核酸天数</label>
                    </td>
                    <td>
                        <input type="text" name="nucleicAcid" id="nucleicAcid" v-model.number="nucleicAcid">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="startTime">起始时间</label>
                    </td>
                    <td>
                        <input type="datetime-local" name="startTime" id="startTime" v-model.trim="startTime">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endTime">结束时间</label>
                    </td>
                    <td>
                        <input type="datetime-local" name="endTime" id="endTime" v-model.trim="endTime">
                    </td>
                </tr>
            </form>
            <tr>
                <td>
                    <button type="button" @click="show=false">隐藏</button>
                </td>
            </tr>
        </table>
        <div class="panel">

            <img src="./image/SJM.gif" alt="SJM" class="SJM">
            <div>部门:&nbsp;{{department}}</div>
            <div>姓名:&nbsp;{{name}}</div>
            <div>学工号:&nbsp;{{studentId}}</div>
            <div>核酸检测:&nbsp;<i class="red">{{nucleicAcid}} </i>&nbsp;天</div>
            <div class="green">通过</div>
            <img src="./image/pass.gif" alt="pass" class="pass">

            <table class="right">
                <tr>
                    <td>申请有效期:</td>
                    <td class="red">{{startTime.replace('T', ' ')}}</td>
                </tr>
                <tr>
                    <td>至:</td>
                    <td class="red">{{endTime.replace('T', ' ')}}</td>
                </tr>
            </table>

            <!-- <div class="right">
                申请有效期:&nbsp;
                <i class="red">{{startTime.replace('T', ' ')}}</i><br>
                至:
                &nbsp;<i class="red">{{endTime.replace('T', ' ')}}</i>
            </div> -->

            <img src="./image/CUEB.jpg" alt="CUEB" class="CUEB">
        </div>
    </article>
    <script>
        function formatDate(date) {
            let year = date.getFullYear();
            let month =
                date.getMonth() + 1 < 10
                    ? "0" + (date.getMonth() + 1)
                    : date.getMonth() + 1;
            let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return year + "-" + month + "-" + day;
        }
        const vm = new Vue({
            el: '#app',
            data: {
                department: '',
                name: '',
                studentId: '',
                nucleicAcid: 1,
                startTime: formatDate(new Date()) + 'T08:00',
                endTime: formatDate(new Date()) + "T23:00",
                show: true,
            },
        })
    </script>
</body>

</html>